server {
    listen 80;
    server_name {{ jsondumpster_hostname }};

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root {{ jsondumpster_path }};
    }

    location / {
        include proxy_params;
        proxy_pass http://{{ jsondumpster_socket }};
    }
}